/*
COLORS:
Red: #AB0103
Yellow: #ece912
Blue: #0E08f6
Green: #56E868
Purple: #9750D3
White: #FFFFFF
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
  }
  
  .header {
    height: 100vh;
    background-image:  url("../../Assets/UI/bg.jpg");
    background-size: cover;
    background-position: top;
  }
  
  .logo-box {
    position: absolute;
    top: 40px;
    left: 35%;
  }
  
  .logo {
    height: 250px;
  }
  
  .button-box {
    position: absolute;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button-play {
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  .btn:link,
  .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 100px;
      transition: all .2s;
      position: relative;
      
  }
  
  .btn:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
  
  .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
  
  .btn-yellow {
      background-color: #ece912;
      color: rgb(0, 0, 0);
      font-size: 20px;
  }
  
  .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
  
  .btn-yellow::after {
      background-color: #ece912;
  }
  
  .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  .btn-animated {
      animation: moveTop .5s ease-out;
      animation-fill-mode: backwards;
  }