/*
COLORS:
Red: #AB0103
Yellow: #ece912
Blue: #0E08f6
Green: #56E868
Purple: #9750D3
White: #FFFFFF
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image:  url("../../Assets/UI/bg.jpg");
    background-size: 100%;
    background-position: center;
  }

  .logo-box {
    top: 40px;
    text-align: center;
  }
  
  .logo {
    height: 250px;
  }
  
  .button-box {
    position: absolute;
    width: 100%;
    top: 550px;
    text-align: center;
  }
  
  .button-play {
    padding: 15px 50px;
    padding-bottom: 30px;
    font-size: 60px;

  }

  .button-settings {
    font-size: 30px;
  }
  
  .btn:link,
  .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 50px;
      display: inline-block;
      border-radius: 100px;
      transition: all .2s;
  }
  
  .btn-yellow {
      background-color: #ece912;
      color: rgb(0, 0, 0);
      box-shadow: 0 9px #AB0103;
  }

  .btn-yellow:hover {background-color: #ccc91f}
  
  .btn-yellow:active {
    background-color: #ece912;
    box-shadow: 0 5px #AB0103;
    transform: translateY(4px);
  }

  .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }