/*
COLORS:
Red: #AB0103
Yellow: #ece912
Blue: #0E08f6
Green: #56E868
Purple: #9750D3
White: #FFFFFF
*/

*   {
        margin: 0vw;
        padding: 0vw;
        box-sizing: border-box;
    }
  
    body {
        height: 100%;
        background-image:  url("../../Assets/UI/bg.jpg");
        background-size: cover;
        background-position: top;
    }

    /*SCORE BAR*/
    .status_bar{
        display: flex;
        height: 3vw;
    }

    .red_team,
    .blue_team{
        display: flex;
        width: 48.5vw;
        justify-content: space-evenly;
        align-items: center;
    }

    .red_team{
        background: rgb(171, 1, 3, 0.3);

    }
    .blue_team{
        background: rgb(14, 8, 246, 0.3);
    }

    .score, 
    .lives{
        display: flex;
        color: white;
        font-size: 1.8vw;
        justify-content: space-evenly;
        align-items: center;
    }
    .red_team .score a{
        color: white;
        font-weight: 64vw;
    }

    .blue_team .score a{
        color: white;
        font-weight: 64vw;
    }

    .lives ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    .lives ul li{
        margin: 0.7vw;
    }

    .life{
        width: 1.8vw;
        color: white;
    }

    .options
    .hamburg{
        width: 3vw;
    }

    .ship{
        width: 4vw;
        z-index: 10;
    }

    .alien{
        width: 3.5vw;
    }

    .end{
        background-color: #ece912;
        box-shadow: 0.72vw 0.72vw #AB0103;
        border-radius: 1.15vw;
        padding: 2.2vw;
        margin-top: 8vw;
        margin-left: 35vw;
        margin-right: 35vw;
        width: 30vw;
        text-align: center;
        z-index: 20;
        position: absolute;
        opacity: 0;
    }

    p{
        font-size: 2.8vw;
        margin-bottom: 1.4vw;
    }

    .button1{
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.4vw;
        font-size: 1.8vw;
        margin-bottom: 1.4vw;
    }

    .button2{
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.4vw;
        font-size: 1.8vw;
        margin-bottom: 1.4vw;
    }

    .button3{
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.4vw;
        font-size: 1.8vw;
    }

    .end-score{
        background: #cecb0e;
        border-radius: 1.14vw;
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.2vw;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .btn-game{
        background: #cecb0e;
        border-radius: 1.14vw;
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.2vw;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .btn-back{
        background: #cecb0e;
        border-radius: 1.14vw;
        padding: 0.85vw 3.5vw;
        padding-bottom: 1.2vw;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }