/*
COLORS:
Red: #AB0103
Yellow: #ece912
Blue: #0E08f6
Green: #56E868
Purple: #9750D3
White: #FFFFFF
*/

*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
    body {
        height: 100%;
        background-image:  url("../../Assets/UI/bg.jpg");
        background-size: cover;
        background-position: top;
    }

    /*SCORE BAR*/
    .status_bar{
        display: flex;
    }

    .red_team,
    .blue_team{
        display: flex;
        width: 48.5%;
        justify-content: space-evenly;
        align-items: center;
    }

    .red_team{
        background: rgb(171, 1, 3, 0.3);

    }
    .blue_team{
        background: rgb(14, 8, 246, 0.3);
    }

    .score, 
    .lives{
        display: flex;
        color: white;
        font-size: 1.5em;
        justify-content: space-evenly;
        align-items: center;
    }
    .red_team .score a{
        color: white;
        font-weight: 900;
    }

    .blue_team .score a{
        color: white;
        font-weight: 900;
    }

    .lives ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    .lives ul li{
        margin: 10px;
    }


    @media (max-width: 600px){
        .red_team,
        .blue_team{
            width: 100%;
        }
    }

    .life {
        width: 30%;
        color: white;
    }

    .menu-hamburg {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }